body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #262626;
  color: #eee;
}

a.no-style {
    text-decoration: inherit;
    color: inherit;
}

.nav-bar-border {
    border-bottom: 5px solid #006837;
}

.text-075 {
    font-size: 0.75em;
}

.text-0875 {
    font-size: 0.875em;
}

.text-1 {
    font-size: 1em;
}

.text-125 {
    font-size: 1.25em;
}

.text-15 {
    font-size: 1.5em;
}

.text-2 {
    font-size: 2em;
}

.text-25 {
    font-size: 2.5em;
}

.text-3 {
    font-size: 3em;
}

.text-color-pri {
    color: #eee;
}

.text-color-sec {
    color: #aaa;
}

.text-color-red {
    color: #de4343;
}

.text-color-green {
    color: #029851;
}

.bg-color-pri {
  background-color: #262626;
}

.bg-color-sec {
  background-color: #404040;
}

.bg-color-chart {
    background-color: #101010;
}

.bg-color-red {
    background-color: #C53737;
}

.bg-color-green {
    background-color: #006837;
}


